@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
body {
  background: #ffffff;
}

#Pension,
#Cafe,
#Health,
#Dormitory{
  float: none;
  margin: 0;
  font-family: 'Cabin Sketch', cursive;
  font-size: 100px;
}
a.github {
  float: right;
  margin-top: .1em;
  display: block;
  width: 2em;
  height: 2em;
  background-image: url(../images/github.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
div.photopile-wrapper {
  margin: 75px auto;
  width: 750px;
}

